* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  position: relative;
  background: #1e2538;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1e253b;
}

::-webkit-scrollbar-thumb {
  background-color: #1e253b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #39414a;
}

img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  // background: #e4e802;
  opacity: 0.6;
  height: 100vh;
  transition: 0.5s ease-in;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  // background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  box-shadow:
    inset 0px -20px 20px 6px rgb(43 39 69 / 79%),
    0px -12px 10px -10px rgb(37 16 235 / 41%);
}

.header-first,
.header-second header {
  margin-bottom: 30px;
  .container {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
  }
  .main_logo {
    margin-bottom: 5px;
  }
  .social {
    display: flex;
    justify-content: space-between;
    & img {
      width: 18px;
      height: 18px;
    }
  }
  .btn_menu {
    display: block;
    flex-direction: column;
    gap: 5px;
    border: none;
    background: none;
  }

  .btn_menu span {
    width: 40px;
    height: 5px;
    background: white;
    border-radius: 10px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    align-items: center;
    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
    }
  }
  .profile {
    display: flex;
    justify-content: space-between;
    gap: 18px;

    .login {
      width: 115px;
      height: 40px;
      border: none;
      font-size: 18px;
      color: white;
      border-radius: 10px;
      background: #3657cb;
      box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.8);
      cursor: pointer;
    }
  }
  .search-btn {
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(235, 236, 238, 0.8);
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  @media (max-width: 960px) {
    .container {
      padding-top: 10px;
      display: inherit;
    }
    .b {
      display: flex;
      justify-content: space-between;
    }
    .bottom_sidebar {
      width: 76vw;
      display: flex;
      gap: 10px;
      align-items: center;
      align-content: center;
      margin: 4% 21%;
    }
  }

  @media (max-width: 768px) {
    .btn_s {
      display: flex;
      justify-content: space-between;
    }
  }
}
.genre {
  display: flex;
  align-items: center;
  gap: 75px;
  color: white;
  margin: 0 0 25px 0;

  // & span:hover {
  //   background: #4c4e53;
  //   // padding: 2px 5px 5px 5px;
  //   border-radius: 5px;
  //   font-weight: 400;
  //   height: 26px;
  //   padding: 0 5px 0 5px;
  // }
  // .genre_active {
  //   background: #4c4e53;
  //   padding: 2px 5px 5px 5px;
  //   border-radius: 5px;
  //   font-weight: 400;
  //   height: 26px;
  //   padding: 0 5px 0 5px;
  // }

  h2 {
    font-size: 47px;
    font-weight: 600;
  }
  .scroll {
    display: flex;
    gap: 30px;
    width: 40%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    span {
      cursor: pointer;
    }
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
}

.line {
  width: 100px;
  height: 2px;
  // padding-top: 10px;
  background-color: white;
  border-radius: 1px;
}

.genre h2,
.genre span {
  // margin: 0 0 20px 0;
  padding: 0;
  // height: 26px;
}
.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 0 0 60px 0;

  .c {
    position: relative;
  }
  .h {
    border-radius: 10px;
    background: #7693ff85;
    position:relative;
  }
  
  .item {
    height: 380px;
    background: url(../public/oppenheimer.jpg) no-repeat center / cover;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
    border-radius: 10px;
    margin: 0 0 10px 0;
    position: relative;

    .rating {
      position: absolute;
      right: 8px;
      top: 10px;
      // width: 64px;
      // height: 30px;
      padding: 4px 12px;
      background: #51d445;
      border-radius: 12px;
      color: white;
    }
  }

  .item:hover {
    // z-index: 4;
    opacity: .8;
    transition: 0.5s ease;
    .info_movie {
      position: absolute;
      opacity: 1;
      z-index: 9;
    }
  }

  .info_movie {
    position: absolute;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    left: 25%;
    top: 45%;
    width: 133px;
    border-radius: 8px;
    height: 35px;
    background: #ffff;
    padding: 4px 0 0 0;
    p {
      color: rgb(86, 81, 237);
      text-align: center;
      font-size: 17px;
    }
    
  }

  .text {
    font-size: 18px;
    color: white;
    padding-left: 5px;
    .genre_item {
      color: #f2f60f;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
    }
  }
}

.show_all_poster {
  text-align: center;
  margin: 5% 0 5% 0%;

  .btn_all {
    text-align: center;
    width: 160px;
    height: 50px;
    border: none;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    scale: 1;
    background: #1e253800;
    :hover {
      scale: 1.2;
    }
  }
}
.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0px;
  color: #ffff;
  img {
    width: 20px;
    height: 20px;
  }
}
.title {
  font-size: 47px;
  font-weight: 600;
  color: white;
}
.all_trailer {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.trailer {
  color: #ffff;
  .item_video {
    position: relative;
    // width: 100px;
    height: 555px;
    background-color: #f2f60f;
    border-radius: 10px;
    margin: 0 0 20px 0;
  }

  .triangle_play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent white;
  }
  .video_title {
    font-size: 35px;
    font-weight: 600;
  }
}