* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  background: #1e2538;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1e253b;
}

::-webkit-scrollbar-thumb {
  background-color: #1e253b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #39414a;
}

img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  // background: #e4e802;
  opacity: 0.6;
  height: 100vh;
  transition: 0.5s ease-in;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  // background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  box-shadow:
    inset 0px -20px 20px 6px rgb(43 39 69 / 79%),
    0px -12px 10px -10px rgb(37 16 235 / 41%);
}

.header-first,
.header-second header {
  margin-bottom: 30px;
  .container {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    height: 75px;
  }
  .main_logo {
    margin-bottom: 5px;
    cursor: pointer;
  }
  .social {
    display: flex;
    justify-content: space-between;
    & img {
      width: 18px;
      height: 18px;
    }
  }
  .btn_menu {
    display: block;
    flex-direction: column;
    gap: 5px;
    border: none;
    background: none;
  }

  .btn_menu span {
    width: 40px;
    height: 5px;
    background: white;
    border-radius: 10px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    align-items: center;
    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
    }
  }
  .profile {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    position: relative;

    .confirm {
      // display: none;
    }
    .login {
      // display: none;
    }
    details ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    details ul li {
      margin: 0;
      padding: 0;
    }
    details {
      // top: 10px;
      // right: 97px;
      transition: height 0.3s ease;
      // overflow: hidden;
    }

    /* Стили для заголовка summary */
    details summary {
      // position: absolute;
      cursor: pointer;
      white-space: nowrap;
      padding: 8px;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #f2f60f;
      }
    }

    .login,
    .comfirm {
      width: 115px;
      height: 40px;
      border: none;
      font-size: 18px;
      color: white;
      border-radius: 10px;
      background: #3657cb;
      box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.8);
      cursor: pointer;
    }
  }
  .search-btn {
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(235, 236, 238, 0.8);
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .username {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }
  .userava {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  @media (max-width: 960px) {
    .container {
      padding-top: 10px;
      display: inherit;
    }
    .b {
      display: flex;
      justify-content: space-between;
    }
    .bottom_sidebar {
      width: 76vw;
      display: flex;
      gap: 10px;
      align-items: center;
      align-content: center;
      margin: 4% 21%;
    }
  }

  @media (max-width: 768px) {
    .btn_s {
      display: flex;
      justify-content: space-between;
    }
  }
}
.genre,
.popular_films,
.popular_persons,
.last_news {
  display: flex;
  align-items: center;
  gap: 100px;
  color: white;
  margin: 0 0 25px 0;

  h2 {
    font-size: 47px;
    font-weight: 600;
  }
  .scroll {
    display: flex;
    gap: 30px;
    width: 40%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    span {
      cursor: pointer;
      font-size: 18px;
      font-weight: 400;
      white-space: nowrap;
    }
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
}
.active_genre {
  color: #f2f60f;
}
.popular_persons,
.last_news {
  justify-content: space-between;
  .scroll {
    width: 30%;
  }
}
.line {
  width: 100px;
  height: 2px;
  // padding-top: 10px;
  background-color: white;
  border-radius: 1px;
}

.genre h2,
.genre span {
  // margin: 0 0 20px 0;
  padding: 0;
  // height: 26px;
}
.box,
.popular_box,
.novelties_box,
.box_office {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 0 0 60px 0;

  .c {
    position: relative;
  }
  .h {
    border-radius: 10px;
    background: #7693ff85;
    position: relative;
  }

  .item {
    height: 380px;
    background: url(../public/oppenheimer.jpg) no-repeat center / cover;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
    border-radius: 10px;
    margin: 0 0 10px 0;
    position: relative;

    .rating {
      position: absolute;
      right: 8px;
      top: 10px;
      // width: 64px;
      // height: 30px;
      padding: 4px 12px;
      background: #51d445;
      border-radius: 6px;
      color: white;
    }
  }

  .k {
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
  }

  .k:hover {
    opacity: 1;
    background: #3656cbaf;
    border-radius: 10px;
    transition: 0.5s ease;
    .info_movie {
      position: absolute;
      opacity: 1;
      z-index: 9;
    }
  }

  .info_movie {
    position: absolute;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    left: 25%;
    top: 45%;
    width: 136px;
    text-align: center;
    border-radius: 8px;
    height: 45px;
    background: white;
    padding: 10px 0 0 0;
    p {
      color: rgb(86, 81, 237);
      text-align: center;
      font-weight: 500;
      font-size: 17px;
    }
  }

  .text {
    font-size: 18px;
    color: white;
    padding-left: 5px;
    .genre_item {
      color: #f2f60f;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
    }
  }
}

.popular_box,
.novelties_box {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  transition: transform 0.5s ease-in-out;
  
  .item {
    height: 400px;
    width: 250px;
  }
}

.box_office {
  .c {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .item {
    width: 110px;
    height: 180px;
    cursor: pointer;
  }
  .rating {
    display: none;
  }
  .k {
    display: none;
  }
  .info_movie {
    left: 13%;
    top: 45%;
    width: 100px;
    height: 35px;
    padding: 5px 0 0 0;
  }
}
.carousel_pagin {
  margin-bottom: 30px;
}

.show_all_poster {
  text-align: center;
  margin: 5% 0 5% 0%;

  .btn_all {
    text-align: center;
    width: 160px;
    height: 50px;
    border: none;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    scale: 1;
    background: #1e253800;
    :hover {
      scale: 1.2;
    }
  }
}
.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0px;
  color: #ffff;
  img {
    width: 20px;
    height: 20px;
  }
}
.title {
  font-size: 47px;
  font-weight: 600;
  color: white;
}
.all_trailer,
.all_news {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.trailer {
  color: #ffff;
  .item_video {
    position: relative;
    padding: 0 15px;
    height: 90vh;
    max-height: 650px;
    // background-color: #f2f60f;
    // border-radius: 10px;
    margin: 0 0 20px 0;

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }
  .trailer_title {
    margin: 10px 0;
  }
  .trailer_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name_trailer {
    padding: 0 0 0 15px;
    font-size: 35px;
    font-weight: 700;
  }

  .triangle_play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent white;
    z-index: 3;
  }
  .video_title {
    font-size: 35px;
    font-weight: 600;
  }

  .reaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .like,
  .dislike {
    border-radius: 8px;
    width: 50px;
    height: 50px;
    background: #39414a;
    text-align: center;
    padding: 10px;
    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
  .list_trailer_movie {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    // height: 170px;
    padding: 20px 0 20px 0;
    margin: 0 0 20px 0;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #203bc6;
      border-radius: 5px;
    }

    .item_movie {
      // background: grey;
      background-position: center;
      background-size: cover;
      min-width: 285px;
      height: 160px;
      border-radius: 8px;
      position: relative;
    }

    .k {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      background: #3656cbaf;
      opacity: 0;
      transition: 0.5s ease;
      position: relative;
      &:hover {
        opacity: 1;
      }
    }
    .triangle_play:hover + .k,
    .k:hover {
      opacity: 1;
    }

    .item_movie_title {
      font-size: 18px;
      font-weight: 600;
      margin: 10px 0 0 10px;
    }
  }
}

.person_info {
  align-items: center;
  gap: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
  flex-direction: row-reverse;
  margin: 30px 0;

  .rating_person,
  .pers_year {
    position: absolute;
    color: #f2f60f;
  }
  .person_item {
    position: relative;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 450px;
    width: 366px;
    color: #ffff;
    background: #39414a;
    box-shadow: inset 0px -20px 20px 20px rgba(0, 0, 0, 0.52);
    padding: 10px;
  }
  .person_text {
    position: absolute;
    bottom: 33px;
    left: 26px;
  }
  .pers_name {
    cursor: pointer;
    &:first-child {
      font-weight: 600;
      font-size: 22px;
    }
  }
  .pers_name:nth-child(2) {
    color: #898585;
  }
  .person_item_list {
    background: #39414a;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 10px;
  }
  .person_info_elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #898585;
    color: #ffff;
  }
  .p_name {
    cursor: pointer;
    &:first-child {
      font-size: 20px;
      font-weight: 600;
    }
    &:nth-child(2) {
      color: #898585;
    }
  }
  .p_year,
  .ra {
    color: #f2f60f;
  }
}

.news_box {
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: space-between;
  margin: 10px 0 30px 0;

  .main_news {
    background: #3657cb;
    height: 450px;
    width: 75%;
    border-radius: 12px;
  }

  .list_news {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 450px;
    align-items: center;
    overflow-y: scroll;
  }
  .news_item {
    width: 240px;
    min-height: 134px;
    border-radius: 10px;
    background: #f2f60f;
    text-align: center;
  }

  .k {
    border-radius: 8px;
    padding: 18% 0 0px 28%;
    width: 100%;
    height: 100%;
    background: #3656cbaf;
    opacity: 0;
    transition: 0.5s ease;
    position: relative;
    &:hover {
      opacity: 1;
    }
  }
  .read_more {
    color: white;
    border-radius: 8px;
    height: 45px;
    width: 114px;
    cursor: pointer;
    padding: 10px 0 0 0;
    text-align: center;
    border: 1px solid white;

    p {
      font-weight: 500;
    }
  }
  .read_more:hover + .k,
  .k:hover {
    opacity: 1;
  }
}
footer {
  background: #151a26;
  padding: 1px 0 30px 0;
}
.section_form {
  // height: 100%;

  .form_box {
    width: 80%;
    height: 380px;
    margin: 0 0 30px 100px;
    background-image: url(../public/fon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    border-radius: 15px;

    .main_logo {
      text-align: center;
      margin: 30px 0 0 0;
      cursor: pointer;
    }
    .text_sub {
      text-align: center;
      color: white;
      .title {
        font-size: 35px;
        font-weight: 700;
      }
      p {
        font-weight: 500;
        width: 75%;
        margin: 0 0 0 100px;
      }
    }
    .form_sub {
      color: white;
      text-align: center;
      margin: 17px 0 30px 0;

      .em {
        width: 35%;
        height: 45px;
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 10px;
        margin: 0 0 10px 0;
      }
      .btn_sub {
        width: 20%;
        height: 44px;
        border: none;
        border-radius: 5px;
        background: #f2f60f;
        font-weight: 400;
        cursor: pointer;
        font-size: 18px;
        margin: 0 0 10px 0;
      }
      i {
        color: #f2f60f;
        cursor: pointer;
      }
      .ch {
        margin-right: 10px;
      }
    }
  }
  .form_social {
    margin: 0 0 0 43%;
  }
  .social {
    display: flex;
    width: 20%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    & img {
      width: 18px;
      height: 18px;
    }
  }
  .menu {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .create_date {
    text-align: center;
    color: rgb(170, 166, 166);
    font-size: 12px;
    .ki {
      margin: 10px 0 30px 0;
    }
    .pol {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
