* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

.box_about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 65px 105px 100px;
    color: #ffff;

    .c {
        position: relative;
        // margin: 20px 0 0 0;
    }
    .h {
        border-radius: 10px;
        background: #7693ff85;
        position: relative;
    }
    .ra {
        position: absolute;
        top: 30px;
        left: 21px;
    }

    .item {
        height: 380px;
        width: 260px;

        // background: url(./oppenheimer.jpg) no-repeat center / cover;
        background-position: center;
        background-size: cover;
        transition: opasity 0.5s ease;
        border-radius: 10px;
        margin: 0 0 10px 0;
        position: relative;
    }

    .info_movie {
        position: absolute;
        z-index: 5;
        opacity: 0;
        left: 25%;
        top: 45%;
        width: 133px;
        border-radius: 8px;
        height: 35px;
        background: #ffff;
        padding: 4px 0 0 0;
        p {
            color: rgb(86, 81, 237);
            text-align: center;
            font-size: 17px;
        }
    }

    .reaction {
        display: flex;
        gap: 8px;
        justify-content: space-between;
        align-items: center;
        .like_finger,
        .dislike,
        .like {
            height: 40px;
            width: 40px;
            border-radius: 5px;
            background: #fff4;
            padding: 10px;
            cursor: pointer;
        }
        .reaction_raating {
            cursor: pointer;
            width: 100px;
            background: #fff4;
            height: 40px;
            border-radius: 8px;
        }
    }

    .about_movie {
        margin: 0 0 0 50px;

        .chart_div {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            position: relative;

            margin: 20px 0 0 0;
            .imd,
            .kinoarea {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 8px #1aff0500 solid;
            }
        }
    }
    h2 {
        font-weight: 700;
    }
    .origin_title {
        font-weight: 500;
    }
    .about_text {
        margin-top: 10px;
        padding: 10px;
        color: white;

        max-height: 7em;
        overflow: hidden;
        position: relative;

        p {
            letter-spacing: 1px;
            font-weight: 500;
        }
    }
    .whatch_trailer {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px;
        white-space: nowrap;

        .like {
            height: 20px;
            width: 20px;
        }
    }
}
footer {
    margin: 50px 0 0 0;
    padding-top: 50px;
    .section_form {
        margin: 55px 0 0 0;
    }
}
.name_n {
    // color: rgb(146, 143, 143);
    font-size: 18px;
}
.info_no_active {
    color: rgb(158, 153, 153);
}

.text_info {
    opacity: 1;
    display: block;
    transition: opacity 0.5s ease;
}

.biografy {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease;
}

.fadeIn {
    animation: fadeInAnimation 0.6s ease forwards;
}

.fadeOut {
    animation: fadeOutAnimation 0.6s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text_info {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 50px;
    margin: 12px 0 20px 0;
    color: #ffff;

    transition: 0.5s ease;

    .left {
        width: none;
        p {
            white-space: nowrap;
        }
    }
    .popularity,
    .place_of_birth,
    .birthday,
    .known_for_department,
    .deathday {
        color: #fbdd00;
        font-weight: 300;
        white-space: nowrap;
    }

    p {
        ::first-letter {
            text-transform: uppercase;
        }
        line-height: 2.3;
        font-weight: 500;
        font-size: 18px;
        span {
            color: #fbdd00;
            font-weight: 300;
        }
    }
}
.info_bio {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0px 0;
    p {
        font-size: 18px;
        cursor: pointer;
    }
}
.biografy {
    display: none;
    margin: 15px 0 0 0;
    height: 212px;
    overflow-y: scroll;
    transition: 0.5s ease;
}
.fotos_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    .item_stills {
        height: 380px;
        border-radius: 8px;
        background-position: center;
        background-size: cover;
        // background: #fbdd00;

        &:first-child {
            grid-column: 1 / span 2;
        }

        &:nth-child(5) {
            grid-column: 2 / span 2;
        }
    }
}
