* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html {
  scroll-behavior: smooth;
}
.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  // background: #e4e802;
  opacity: 0.5;
  height: 100vh;
  transition: 0.5s ease-in;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 8px;
}

// .bg::after {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 50%;
//   z-index: -1;
//   filter: drop-shadow(1px -5px 8px blue) invert(75%);
// }

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #ffff;
}
.box_about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 65px 105px 100px;
  color: #ffff;

  .c {
    position: relative;
    // margin: 20px 0 0 0;
  }
  .h {
    border-radius: 10px;
    background: #7693ff85;
    position: relative;
  }
  .ra {
    position: absolute;
    top: 30px;
    left: 22px;
  }

  .item {
    height: 380px;
    width: 260px;

    // background: url(./oppenheimer.jpg) no-repeat center / cover;
    background-position: center;
    background-size: cover;
    transition: opasity 0.5s ease;
    border-radius: 10px;
    margin: 0 0 10px 0;
    position: relative;
  }

  .info_movie {
    position: absolute;
    z-index: 5;
    opacity: 0;
    left: 25%;
    top: 45%;
    width: 133px;
    border-radius: 8px;
    height: 35px;
    background: #ffff;
    padding: 4px 0 0 0;
    p {
      color: rgb(86, 81, 237);
      text-align: center;
      font-size: 17px;
    }
  }

  .reaction {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    .like_finger,
    .dislike,
    .like {
      height: 40px;
      width: 40px;
      border-radius: 5px;
      background: #fff4;
      padding: 10px;
      cursor: pointer;
    }
    .reaction_raating {
      cursor: pointer;
      width: 100px;
      background: #fff4;
      height: 40px;
      border-radius: 8px;
    }
  }

  .about_movie {
    margin: 0 0 0 50px;

    .chart_div {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      position: relative;

      margin: 20px 0 0 0;
      .imd,
      .kinoarea {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 8px #1aff0500 solid;
      }
    }
  }
  h2 {
    font-weight: 700;
  }
  .origin_title {
    font-weight: 500;
  }
  .about_text {
    margin-top: 10px;
    padding: 10px;
    color: white;

    max-height: 7em;
    overflow: hidden;
    position: relative;

    p {
      letter-spacing: 1px;
      font-weight: 500;
    }
  }
  .whatch_trailer {
    border: 2px solid #ffff;
    border-radius: 10px;
    height: 50px;
    width: 180px;
    margin: 25px 0 25px 0;
    background: #0000;
    font-size: 18px;
    color: white;
    cursor: pointer;
  }
}
@media (max-width: 425px) {
  .box_about {
    flex-direction: column;
    margin-bottom: 20px;
    .about_movie {
      margin: 0px 0 0 0;
      text-align: center;
      width: 300px;
      .chart_div {
        margin-left: 100px;
      }
    }
  }
}
footer {
  margin: 50px 0 0 0;
  padding-top: 50px;
  .section_form {
    margin: 55px 0 0 0;
  }
}
.text_info {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 50px;
  margin: 20px 0 20px 0;
  color: #ffff;

  .left {
    width: 50%;
  }
  .right {
    width: 50%;
  }

  p {
    ::first-letter {
      text-transform: uppercase;
    }
    line-height: 2.3;
    font-weight: 500;
    font-size: 18px;
    span {
      color: #fbdd00;
      font-weight: 300;
    }
  }
}
@media (max-width: 425px) {
  .text_info {
    flex-direction: column;
    gap: 0;

    .right {
      width: auto;
    }
    .left {
      width: auto;
    }
  }
  .in {
    flex-direction: row;
    text-align: left;

    .right,
    .left {
      width: 50%;
      p {
        font-size: 16px;
      }
    }
    .right {
      font-size: 14px;
      p:last-child {
        display: none;
      }
    }
  }
}
.main_roles {
  color: #ffff;
  .actors_cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    p {
      padding-left: 6px;
    }
    margin: 0 0 20px 0;
  }
  .item_cards {
    background: url(/no.svg) no-repeat center / cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      opacity: 0.7;
      transition: 0.5s ease;
    }
  }
  .character {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 8px;
    cursor: pointer;
  }
  .name {
    color: #d4d1c4;
  }
  .org_name {
    color: #fbdd00;
    font-size: 14px;
  }
  .btn_b {
    text-align: center;
    width: 100px;
    padding: 7px;
    border-radius: 7px;
    color: #ffff;
    height: 40px;
    border: 1px solid yellow;
    margin: 0 0 0 47%;
    cursor: pointer;
    transition: 0.5s ease;
    margin-bottom: 30px;
    .btn {
      text-align: center;
      border: none;
      width: 100%;
      height: 100%;
      background: none;
      color: #ffff;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
@media (max-width: 425px) {
  .main_roles {
    .actors_cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .item_cards {
      height: 200px;
    }
    .btn_b {
      margin-left: 35%;
    }
  }
}

.treiler_of_movie {
  .change {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .item_video {
    height: 600px;
    width: 100%;
    border-radius: 15px;
    margin: 0 0 100px 0;
    iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}
@media (max-width: 425px) {
  .treiler_of_movie {
    .item_video {
      height: 223px;
      margin-bottom: 40px;
    }
  }
}
.same_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 0 30px 0;
}
.item {
  height: 380px;
  background-position: center;
  background-size: cover;
  transition: 0.5s ease;
  border-radius: 10px;
  margin: 0 0 10px 0;
  position: relative;
}
@media (max-width: 425px) {
  .same_box {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .item {
    height: 223px;
  }
}

.film_stills {
  margin: 0 0 30px 0;
  .stills_box,
  .fotos_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    .item_stills {
      height: 380px;
      border-radius: 8px;
      background-position: center;
      background-size: cover;
      // background: #fbdd00;

      &:first-child {
        grid-column: 1 / span 2;
      }

      &:last-child {
        grid-column: 3 / span 2;
      }
    }
  }
}
@media (max-width: 425px) {
  .film_stills {
    .stills_box {
      grid-template-columns: repeat(2, 1fr);

      .item_stills {
        height: 220px;
        &:first-child {
          grid-column: 1 / span 2;
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(5) {
          display: none;
        }
        &:nth-child(6) {
          display: none;
        }
      }
    }
  }
  .fotos_box {
    grid-template-columns: repeat(2, 1fr);

    .item_stills {
      height: 220px;
      &:first-child {
        grid-column: 1 / span 2;
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(5) {
        display: none;
      }
      &:nth-child(6) {
        display: none;
      }
    }
  }
}

.similar_films,
.best_films {
  .headline {
    text-align: center;
    display: block;
  }

  .similar_box,
  .best_filims_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 0 0 60px 0;

    .c {
      position: relative;
    }
    .h {
      border-radius: 10px;
      background: #7693ff85;
      position: relative;
    }

    .item {
      height: 380px;
      // background: url(../oppenheimer.jpg) no-repeat center / cover;
      background-position: center;
      background-size: cover;
      transition: 0.5s ease;
      border-radius: 10px;
      margin: 0 0 10px 0;
      position: relative;

      .rating {
        position: absolute;
        right: 8px;
        top: 10px;
        padding: 4px 12px;
        background: #51d445;
        border-radius: 6px;
        color: white;
      }
    }

    .k {
      height: 100%;
      width: 100%;
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
    }

    .k:hover {
      opacity: 1;
      background: #3656cbaf;
      border-radius: 10px;
      transition: 0.5s ease;
      .info_movie {
        position: absolute;
        opacity: 1;
        z-index: 9;
      }
    }

    .info_movie {
      position: absolute;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
      left: 25%;
      top: 45%;
      width: 136px;
      text-align: center;
      border-radius: 8px;
      height: 45px;
      background: white;
      padding: 10px 0 0 0;
      p {
        color: rgb(86, 81, 237);
        text-align: center;
        font-weight: 500;
        font-size: 17px;
      }
    }

    .text {
      font-size: 18px;
      color: white;
      padding-left: 5px;
      .genre_item {
        color: #f2f60f;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }

  .similar_box,
  .best_filims_box {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    transition: transform 0.5s ease-in-out;
    .item {
      height: 400px;
      width: 250px;
    }
  }
  @media (max-width: 425px) {
    .similar_box,
    .best_filims_box {
      margin: 0;
      .item {
        height: 250px;
        width: 150px;
      }
      .info_movie {
        left: 5%;
      }
      .rating {
        padding: 1px 8px;
      }
    }
  }
}
.best_films {
  .headline {
    display: flex;
  }
}
